
.food-item-card .card {
    overflow: hidden;

    font-family: "Poppins", sans-serif;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.food-item-card .card .food-photo{
    width: 100%;
    height: 135px;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    margin: auto;
    position: relative;

}
.food-item-card .card .food-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    
}
.food-item-card .card .card-body a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    opacity: .8;
}
.food-item-card .card .card-body a:hover{
    opacity: 1;
}
.food-item-card .card .card-body h6{
    color: #70ac11;
    margin-top: 5px;
}
.food-item-card .card .card-body p{
    font-size: 13px;
}

.food-item-card .review-section i {
    color: rgb(252, 108, 24);
    font-size: 11px;
}

.food-item-card .review-section span {
    font-size: 12px;
}

.food-item-card .f-item-counter{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.food-item-card .f-item-counter button{
    font-size: 14px;
    border: none;
    padding: 0px 3px;
    color: white;
}
.food-item-card .f-item-counter span{
    font-size: 14px;
}
.food-item-card .addTocart{
    border:none;
    background-color: transparent;
    padding: 0!important;
    
}
.food-item-card .addTocart i{
    font-size: 18px;
    color: #70ac11;
}





@media only screen and (max-width: 991px) {
    .food-item-card .card {
        height: auto;
    }
    .food-item-card .card .food-photo{
        height: 130px;
    }
    .food-item-card .card .card-body p{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .food-item-card .card {
        height: auto;
    }
    .food-item-card .card .food-photo{
        height: 110px;
    }
    .food-item-card .card .card-body p{
        display: none;
    }
}